//head.jade
head
    title New project
    meta(charset="UTF-8")
    meta(name="viewport",content="width=device-width, initial-scale=1")
    link(rel="stylesheet",href="assets/css/style.css")
//end head.jade
